/*
 * Empty Stylesheet file.
*/

.mainFxmlClass {

}

.hostStyle{
    -fx-background-color: lightgray;
    -fx-font-family: sans-serif;
}

.button{
    -fx-font-family: 'arial black';
}

body{
    background-color: lightgray;
}